/*body*/
body {
    background-color:rgb(255, 255, 110);
}

/*navbar*/
.mynavlist {
    justify-content: flex-end;
  }

.navbar-brand {
    color: black;
    font-family: 'Space Mono', monospace;

}
.nav-link {
    color:black;
    font-family: 'Space Mono', monospace;

}



/*main*/
main {
    font-family: 'Space Mono', monospace;
    margin-top: 5em;
}

.home-items {
    list-style-type: none;
}

.home-links {
    font-size: 3em;
    text-align: center;
    line-height: 1em;
    opacity: 0.5;
}

.home-links:hover {
    color: black;
    opacity: 1;
    /* transition: 0.3s; */
}

/*scroll button*/
.scroll {
    margin: auto;
}



