/*body*/
*{
    box-sizing: border-box;
}

body {
    background-color:rgb(255, 255, 110);
}

/*navbar*/

nav {
    background-color: yellow;
}
.mynavlist {
    justify-content: flex-end;
  }

.navbar-brand {
    color: black;
    font-family: 'Space Mono', monospace;

}
.nav-link {
    color:black;
    font-family: 'Space Mono', monospace;

}

/*img area */


img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

.img-grey {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* main area */
main {
    margin-top: 2em;
    font-family: 'Space Mono', monospace;
}

/* bio area*/
.img-column h4 {
    margin-bottom: 3em;
}