/*body*/
body {
    background-color:rgb(255, 255, 110);
}

/*navbar*/
.mynavlist {
    justify-content: flex-end;
  }

.navbar-brand {
    color: black;
    font-family: 'Space Mono', monospace;

}
.nav-link {
    color:black;
    font-family: 'Space Mono', monospace;

}

/*main section*/
.row {
   justify-content: space-evenly;
}