/*body*/
body {
    background-color:rgb(255, 255, 110);
}

/*navbar*/
.mynavlist {
    justify-content: flex-end;
  }

.navbar-brand {
    color: black;
    font-family: 'Space Mono', monospace;

}
.nav-link {
    color:black;
    font-family: 'Space Mono', monospace;

}
nav {
    background-color: yellow;
}

/*main section*/
main {
    font-family: 'Space Mono', monospace;
}
.title h3 {
    margin-top: 2em;
    margin-bottom: 2em;
}

/*cards*/
.row {
   justify-content: space-evenly;
}

.card {
    margin-bottom: 30px;
}

.btn {
    background-color: yellow;
}
.btn:hover {
    color: white;
    background-color: black;
}